<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lgv-vmf</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>zoomus</string>
		<string>lmi-g2m</string>
		<string>skype</string>
		<string>maps</string>
		<string>gmeet</string>
		<string>waze</string>
		<string>whatsapp</string>
	</array>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>This app can add events to your calendar, to remind you of upcoming meeting attendance.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>FindVirtualMeetingsIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).VMF_SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>VMF</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>VMF_BaseServerURI</key>
	<string>https://meetings.recovrr.org/entrypoint.php</string>
</dict>
</plist>
